@font-face {
  font-family: 'mylover';
  src: url('/anchor/fonts/love.ttf') format('truetype')
}
/* 이 파일의 폰트를 이 이름으로 쓸 수 있다(이름은 원하는 대로 임의 설정) 
다른 사람의 컴퓨터에 없으면 못 쓴다 */

p {
  font-family: 궁서, 궁서체, serif;
}
/* font-famil: "맑은 고딕", 돋움, 굴림, sans-serif
띄어쓰기할 경우 큰따옴표로 묶어주기(하나라고) 
없다면 두번째거를 지원해라 (띄어쓰기 없으면 큰따옴표 안 해도 브라우저가 하나로 인식한다. 써도되고 안 써도 되고) 
sans-serif; (모든 컴퓨터가 다 지원함; serif궁서 같은거 + sans 없다=꾸밈이 없다)*/
/* 사용자 에이전트 스타일(태어나자마자 만들어진 브라우저 스타일,약하다 - 우리가 만든걸로 바꿀 수 있다) */
#first {
  font-family: "맑은 고딕";
}
.second.imp {
  font-size: 1em;
}
/* em:  */
/* 붙어있음 = 하나의 요소가 2개의 클래스를 동시에 가지고 있다(10+10=20점) */
.second {
  font-family: 'mylover';
  font-size: 32px;
}
/* 얘가 밑에 있어도 위에 애한테 점수로 진다 */

/* 폰트는 윈도우 안에 기본적으로 지원해주는 폰트가 다르다 (없는 글꼴은 써도 안 보임) */
table, th, td {
  border: 1px solid;
  border-collapse: collapse;
  text-align: center;
  font-family: 'Nanum Pen Script', cursive;
}
/* 구글 폰트 가져올 때 head쪽에 link 주소 3개 + css에 원하는 부분에만 font-family 소스 */
    /* 테두리 만들기: border (색상은 기본이 black이라 안 써도 됨)
  이중 실선으로 나온다 */
  /* 단일 실선으로 만들기 (파괴) */
td, th {
  padding: 5px 15px;
}
/* 위아래, 좌우 */
tr {
  font-size: 32px;
}
#em {
  font-size: 2em;
}
/* 1em = 부모의 100% (16px) = 상대 크기 */
/* 부모가 겹치고 겹치면 부모마다 바뀌니까 계산 애매해져서 나온 게 rem */
#rem {
  font-size: 2rem;
}
/* 2rem = 32px */
/* 2em, 2rem 이라도 다르다 
2em: 부모의 2배 (tr이 32면 64)
2rem: html의 2배 (tr이 32라도 html은 16이니까 32) */
/* rem을 많이 쓴다 */
div {
  height: 150px;
  background-color:bisque;
  text-align: center;
  line-height: 150px;
}
/* 글자가 처음에는 왼쪽 상단에 달라붙어 있다
text-align: 수평정렬
line-height: 수직정렬 (요소의 높이 주면 된다) = 글자의 정렬 */
